{% extends 'base.html' %}
{% load static %}

{% block content %}
  <main>
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-10 mx-auto d-flex flex-column">
          <div class="d-none" id="post-id">{{post.id}}</div>
          <div class="greetings mb-4 text-center">{{post.title}}</div>
          <div class="content text-white p-3 mb-3 text-center">
            <h3>Content is coming, soon will be here ;)</h3>
            <img src="{% static 'contentLoading.svg' %}" alt="loading">
          </div>
          <a class="btn btn-dark my-4" href="{{post.link}}">READ ORIGINAL ARTICLE</a>
        </div>
      </div>
    </div>
  </main>

  <script>
    lookForUnresolvedTasks();
    let postId = document.querySelector('#post-id').textContent;
    fetch('/api/posts/detailed/', {
        method: "POST", 
        headers: {
          'HTTP_X_REQUESTED_WITH': 'XMLHttpRequest',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': getCookie('csrftoken'),
          'Content-Type': 'application/json',
        }, 
        body: JSON.stringify({"post_id": postId})
      }).then(response => {
        if (response.ok){ 
          response.json().then(data => {
            console.log(data);
            let taskId = data['task_id'];
            taskKeyName = 'task' + taskId.slice(0,8);
            localStorage.setItem(taskKeyName, taskId);
            detailedTaskController(taskKeyName, taskId);
          }).catch(err => {console.log(err)})
        } else {
          response.json().then(errData => {
            console.log(errData);
          }).catch(err => {console.log(err)})
        }
      }).catch(err => {console.log('never here, but just in case!')});
      // taskController should be in base.html and always looking for
      // tasks and if there're any => do sth 

      function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
{% endblock %}

