{% extends 'base.html' %}

{% block content %}
  <main class="mt-4 px-4">
    <div class="container">
      <div class="d-none" data-username="{{user.username}}"></div>
      <div class="row">
        <div class="col-md-8 px-0">
          <div class="informer mb-4 info-banner text-white align-center">POSTS</div>
        </div>
        <div class="col-md-3 px-0 ml-auto">
          <div class="informer mb-4 info-banner text-white align-center">SOURCES</div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 content">Please, wait. Posts are loading.</div>
        <div class="col-md-3 ml-auto left-side">
          <div class="scrap-option option-active" data-source='habr'>Habr</div>
          <div class="scrap-option option-active" data-source='vc'>VC</div>
          <button class="update-btn" role="button">Update</button>
        </div>
      </div>

      <div class="row">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link btn-nav prev" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item">
              <a class="page-link btn-nav next" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </main>

  <script>
    lookForUnresolvedTasks();
    let username = document.querySelector('[data-username]').dataset['username'];
    function fetch_users_post(path, sources=['habr', 'vc']){
      console.log(path);
      if (!path){
        path = '/api/posts/user-posts/';
      } else {

      }
      let userDiv = document.querySelector('[data-username]');

      if (sources.length === 0){
        let mainEl = document.body.querySelector('.content');
        mainEl.innerHTML = '';
        mainEl.insertAdjacentHTML('afterbegin', '<h2 class="text-white">Nothing to fetch!</h2>')
        return;
      }
      fetch(path, {
        method: "POST", 
        headers: {
          'HTTP_X_REQUESTED_WITH': 'XMLHttpRequest',
          'X-Requested-With': 'XMLHttpRequest',
          'X-CSRFToken': getCookie('csrftoken'),
          'Content-Type': 'application/json',
        }, 
        body: JSON.stringify({"sources": sources, "username": username})
      }).then(response => {
        if (response.ok){ 
          response.json().then(data => {
            console.log(data);
            let next = data.next;
            let prev = data.previous;
            let nextEl = document.querySelector('.next');
            let prevEl = document.querySelector('.prev');
            // if next is null
            if (!next){
              nextEl.setAttribute('aria-disabled', 'true');
              nextEl.parentElement.classList.add('disabled');
            } else {
              nextEl.removeAttribute('aria-disabled');
              nextEl.parentElement.classList.remove('disabled');
              nextEl.href = next;
            }
            if (!prev){
              prevEl.setAttribute('aria-disabled', 'true');
              prevEl.parentElement.classList.add('disabled');
            } else {
              prevEl.removeAttribute('aria-disabled');
              prevEl.parentElement.classList.remove('disabled');
              prevEl.href = prev;
            }
            create_html(data.results);
          }).catch(err => {console.log(err)})
        } else {
          response.json().then(errData => { //here we don't return anything just go straigh for then, if 400 or whatever
            console.log(errData);
          }).catch(err => {console.log(err)})
        }
      }).catch(err => {console.log('never here, but just in case!')});
    }

    // habr posts are fetched by feault, can be discarded though
    fetch_users_post();

    // handle next or prev click 
    let navBtns = document.querySelectorAll('.btn-nav').forEach(el => {el.onclick = handleNavBtns});

    function handleNavBtns(e){
      e.preventDefault();
      window.scrollTo(0,0);
      let sources = document.getElementsByClassName('option-active');
      sources = Array.from(sources);
      path = e.target.href;
      fetch_users_post(path, sources.map(el => el.dataset['source']));
    }

    // handle update click
    function handleSourcesClick(e){
      let target = e.target;
      // time to update with new sources
      if (target.classList.contains('update-btn')){
        console.log('update btn has been clicked');
        let sources = document.getElementsByClassName('option-active');
        sources = Array.from(sources);
        fetch_users_post(null, sources.map(el => el.dataset['source']));
      } else if (target.classList.contains('scrap-option')){
        target.classList.toggle('option-active');
      }
    }

    let sourcesDiv = document.body.querySelector('.left-side');
    sourcesDiv.onclick = handleSourcesClick;


    // SOME UTILS FUNCTIONS

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  </script>
{% endblock %}