*, *::before, *::after{
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}

/* 
font-family: 'Bangers', cursive;
font-family: 'Montserrat', sans-serif;
*/

body{
  background: var(--mainBg);
}

ul, ol{
  padding: 2rem;
}

pre code{
  font-size: inherit;
  color: inherit;
  word-break: normal;
  color: white;
  background: #000;
}

:root{
  --mainAqua: #00FFF0;
  --mainWhite: #fff;
  --mainBg: #2F195F;
  --mainDark: #000;
}

.navbar{
  background-color: var(--mainDark);
}

.navbar-brand{
  font-family: 'Bangers', cursive;
  font-size: 1.5rem;
  color: var(--mainAqua);
}

.nav-link{
  color: var(--mainAqua) !important;
}

/* HOME SECTON */
.content{
  background: rgba(0,0,0,0.2);
}

.info-banner{
  background: var(--mainDark);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 0.2rem;
  font-size: 1.5rem;
}

.left-side{
  background: rgba(0,0,0,0.2);
  height: 250px;
  display: flex;
  flex-direction: column;
}

.scrap-option{
  color: var(--mainWhite);
  border: 1px solid var(--mainWhite);
  cursor: pointer;
  padding: 0.2rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.scrap-option:hover{
  border: 1px solid var(--mainAqua);
}

.option-active{
  background-color: rgba(39, 134, 163, 0.37);
}

.update-btn{
  background-color: var(--mainAqua);
  border-radius: 5px;
  padding: 0.3em 0.5em;
  margin-top: auto;
  border: none;
  color: var(--mainDark);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.update-btn:hover{
  background-color: greenyellow;
}

/* PROFILE */
.greetings, 
.service-name{
  font-size: 1.5rem; 
  font-family: 'Montserrat', sans-serif;
  color: var(--mainWhite);
  padding: 0.2rem 0.5rem;
  background-color: var(--mainDark);
  text-transform: uppercase;
}

.service-name{
  background-color: rgba(0,0,0,0.4);
}

.btn-success{
  background-color: #00FF75!important;
  color: var(--mainBg);
  text-transform: uppercase;
}